@media screen and (max-width: 480px) {
    .header_menu, .first_screen__right {
        display: none;
    }

    .wrapper {
        padding: 0 20px;
    }

    .button_talk__to__us {
        position: inherit;
        width: auto;
    }

    .first_screen__grid h1 {
        font-size: 60px;
        line-height: 73px;
    }

    .first_screen__left {
        padding-top: 30px;
    }

    h1, h2 {
        text-align: center;
    }

    .second_screen__left img {
        width: 100%;
    }

    .second_screen__right h2 {
        font-size: 55px;
    }

    .second_screen__grid,
    .third_screen__middle__grid,
    .fourth_screen__down__grid,
    .fifth_screen__grid, .seventh_screen__grid {
        display: block;
    }

    .third_screen__middle__grid, .fourth_screen__down__grid {
        margin-left: 70px;
    }

    .discover_button {
        margin-left: 100px;
    }

    .fourth_screen__up h2 {
        margin-bottom: 30px;
    }

    .fifth_screen {
        padding-top: 80px;
        padding-bottom: unset;
    }

    .fifth_screen__left p {
        max-width: none;
        margin-bottom: 50px;
        text-align: center;
    }

    .fifth_screen__right__logos {
        column-gap: initial;
    }

    .fifth_screen__right__logo img {
        width: 100%;
    }

    .fifth_screen__right__logo {
        width: calc(100% / 3);
    }

    .sixth_screen {
        padding-top: inherit;
    }

    .sixth_screen__right {
        display: none;
    }

    .seventh_screen {
        padding: 0 0 55px 0;
    }

    .seventh_screen__left h2 {
        font-size: 48px;
    }

    .seventh_screen__left p {
        text-align: center;
    }

    .button_view_hub, .button_get_started {
        margin: 0 0 50px 135px;
    }

    .footer_menu {
        margin-left: 30px;
    }

    .footer_top {
        justify-content: center;
    }

    .item {
        width: 50%;
    }


}