.container {
    margin: 30px;
    padding: 30px;
    background-color: antiquewhite;
}

.wrap {
    display: flex;
    justify-content: center;
}

h2, h3 {
    text-align: center;
}

p {
    width: 30%;
    text-align: justify;
    padding: 20px;
}

img {
    height: 300px;
    padding: 20px;
}